.HomePage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 4fr;
    width: 100vw;
    height: calc(100vh - 7vh - 5px);
    align-items: center;
    justify-items: center;
}

.CoverImage {
    width: 256px;
    height: 256px;
    border-style: inset;
    margin-right: 100px;
}

.InfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--dark-extra), white);
}

.InfoItself {
    display: flex;
    flex-direction: column;
}

.TitleTop {
    font-size: 6vw;
    font-family: 'Syne';
    margin: 0px;
}

.JobDesc {
    font-size: 3vw;
}

.MainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 98%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .HomePage {
        height: 200vh;
        overflow-y: scroll;
        grid-template-rows: 2fr 6fr;
    }

    .CoverImage {
        margin-left: 2vw;
        margin-right: 8vw;
        width: min(50vw, 50vh);
        height: min(50vw, 50vh);
    }

    .InfoItself {
        margin-right: 1vw;
    }

    .MainContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        max-height: 135vh;
    }
}

@media only screen and (max-width: 600px) {
    
}