.HomePage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 4fr;
    width: 100vw;
    height: calc(100vh - 7vh - 5px);
    align-items: center;
    justify-items: center;
}

.CoverImage {
    width: 256px;
    height: 256px;
    border-style: inset;
    margin-right: 100px;
}

.InfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--dark-extra), white);
}

.InfoItself {
    display: flex;
    flex-direction: column;
}

.TitleTop {
    font-size: 72px;
    font-family: 'Syne';
    margin: 0px;
}

.MainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 98%;
    height: 100%;
    justify-items: center;
    align-items: center;
}