.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    height: 75px;
  }

.Footer a {
    text-decoration: none;
    margin-left: 10px;
}

.Footer a:visited {
    text-decoration: none;
}

.FooterContentMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    justify-content: center;
}

.FooterContent {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}