.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    height: 8vh;
    font-size: 1.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.Footer a {
    text-decoration: none;
    margin-left: 10px;
}

.Footer a:visited {
    text-decoration: none;
}

.FooterContentMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.FooterContent {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.FooterContent p {
    margin-left: 10px;
}

.FooterIcon {
    color: white;
    transform: scale(calc(1vw/2), 1);
}

@media only screen and (max-width: 768px) {
    .Footer {
        height: 6vh;
    }

    .FooterContentMain {
        justify-content: space-around;
        width: 100%;
    }

    .FooterContent {
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-size: min(2vh, 2.5vw);
    }
}

@media only screen and (max-width: 600px) {
    .FooterContent p {
        display: none;
    }
}