.Dropdown:hover .DropContent {display: block;}

.DropContent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.DropContent {
  display: none; 
  position: fixed;
  min-width: 160px;
  box-shadow: 10px 5px 5px 0px rgba(255, 255, 255, 0.2);
  z-index: 99999;
}

.Dropdown {
    position: relative;
    display: block;
    cursor: pointer;
}

.ProjectsDropBtn, .JobsDropBtn, .HobbiesDropBtn, .NoDropBtn {
    padding-left: 48px;
    padding-right: 48px;
    font-size: 32px;
    height: 50px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.Navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 50px;
    display: flex;
    justify-content: center;
}

.Navbar .Dropdown {
    float: left;
}