/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

.ImageGalleryWrapper img {
    object-fit: contain;
}

.ImageCarousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat:no-repeat;
}

.RightButton, .LeftButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    width: 8vw;
    height: 100%;
    cursor: pointer;
    transition:linear;
}

.RightButton:hover, .LeftButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.ArrowImage {
    
    transform: scale(5);
}