.Project {
    display: grid;
    grid-template-areas: 
        "title"
        "tech"
        "content"
        "links";
    width: 100vw;
    height: calc(100vh - 50px - 75px); /* full screen height minus navbar height minus footer height */
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 15fr 2fr;
    scroll-snap-align: start;
    scroll-margin-top: 50px;
}

.DescAndGallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.Gallery {
    grid-area: gallery;
}

.Links {
    grid-area: links;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: center;
    font-family:'Inter';
}

.ProjectLink {

}

.TitleBox {
    grid-area: title;
    font-size:64px;
    font-family: 'Syne';
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.TitleText { 
    margin: 0;
    padding: 0;
}

.DescriptionBox {
    grid-area: description;
    font-size: 32px;
    font-family:'Inter';
    
}

.PhotoGallery {

}

.VideoEmbed {

}

.LinkIcon {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.GithubLink {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DownloadLink {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.WebsiteLink {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItchLink {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: none;
}