@font-face {
    font-family: 'Casanova';
    src: url('../../public/fonts/CasanovaScotia-Xm0K.ttf');
}

@font-face {
    font-family: 'Gamilia';
    src: url('../../public/fonts/GamiliaDemoRegular-d9DL7.ttf');
}

.Project {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.DescAndGallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.Gallery {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.Links {
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.ProjectLink {

}

.TitleBox {
    font-size:32px;
    font-family: 'Casanova';
}

.DescriptionBox {
    width: 40%;
    font-size: 20px;
    font-family:'Gill Sans';
}

.PhotoGallery {

}

.VideoEmbed {

}

.GithubLink {
    margin-right: 20px;
    margin-left: 20px;
}

.DownloadLink {
    margin-right: 20px;
    margin-left: 20px;
}

.WebsiteLink {
    margin-right: 20px;
    margin-left: 20px;
}

.ItchLink {
    margin-right: 20px;
    margin-left: 20px;
}

iframe {
    border: none;
}