@font-face {
    font-family: 'Casanova';
    src: url('../../public/fonts/CasanovaScotia-Xm0K.ttf');
}

@font-face {
    font-family: 'Gamilia';
    src: url('../../public/fonts/GamiliaDemoRegular-d9DL7.ttf');
}

.Project {
    display: grid;
    grid-template-areas: 
        "title"
        "tech"
        "content"
        "links";
    width: 100vw;
    height: calc(100vh - 50px - 75px); /* full screen height minus navbar height minus footer height */
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 15fr 2fr;
    scroll-snap-align: start;
    scroll-margin-top: 50px;
}

.DescAndGallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.Gallery {
    grid-area: gallery;
}

.Links {
    grid-area: links;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: center;
}

.ProjectLink {

}

.TitleBox {
    grid-area: title;
    font-size:32px;
    font-family: 'Casanova';
}

.DescriptionBox {
    grid-area: description;
    font-size: 20px;
    font-family:'Gill Sans';
    
}

.PhotoGallery {

}

.VideoEmbed {

}

.GithubLink {
    margin-right: 20px;
    margin-left: 20px;
}

.DownloadLink {
    margin-right: 20px;
    margin-left: 20px;
}

.WebsiteLink {
    margin-right: 20px;
    margin-left: 20px;
}

.ItchLink {
    margin-right: 20px;
    margin-left: 20px;
}

iframe {
    border: none;
}