.SideNavbar {
    position: fixed;
    right: 0;
    margin-top: 50px;
    z-index: 99999;
}

.OpenIcon, .CloseIcon {
    color: white;
    cursor: pointer;
}

.OpenIcon {
    transform: scale(2);
    margin-right: 50px;
}

.CloseIcon {
    transform: rotateY(180deg) scale(2);
}

.IconCloser {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-right: -5px;
}

.IconOpener {
    margin-top: 15px;
}

.ExpandedNavbar {
    display: flex;
    height: calc(100vh - 50px - 75px); /* full screen height minus navbar height minus footer height */
    width: 10vw;
    
}

.ItemsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.ItemsList a {
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
    font-size: 22px;
    text-decoration: none;
    align-content: center;
    width: 100%;
    height: 100%;
}

/* .ItemsList a:hover {
    background-color: aqua;
} */