.SideNavbar {
    position: fixed;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    height: calc(100vh - 50px - 75px); /* full screen height minus navbar height minus footer height */
    width: 5vw;
    margin-top: 50px;
}

.OpenIcon, .CloseIcon {
    color: white;
}

.OpenIcon {
    transform: scale(2);
}

.CloseIcon {
    transform: rotateY(180deg) scale(2);
}

.ExpandedNavbar {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    z-index: 99999;
}