.TechBanner {
    max-height: 5vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OwnedLinks {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.TechLink {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.InternalTech {
    display: flex;
    position: relative;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    min-width: 125px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    color: white;
    z-index: 0;
}

.ImageCropper {
    height: 80%;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    margin-left: 10px;
    z-index: 2;
}

.InternalTech img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    z-index: 1;
}

.InternalTech p {
    margin-left: 10px;
    margin-right: 10px;
}

.TechBanner a {
    text-decoration: none;
}

.TechBanner a:visited {
    text-decoration: none;
    color: white;
}

.LinkIcon {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.GithubLink, .DownloadLink, .WebsiteLink, .ItchLink {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.OwnedLinks p {
    margin-right: 10px;
}