:root {
    /* Palette */
    --main-color: white;
    --main-color-trans: rgba(255, 255, 255, 0.8);
    --accent-color: rgb(93, 232, 114);
    --accent-color-trans: rgba(93, 232, 114, 0.8);
    --contrast-color: black;
    --contrast-color-trans: rgba(0, 0, 0, 0.8);

    /* Fonts */
    --h2-font: 800 2rem 'Montserrat', sans-serif;
    --h3-font: 300 2rem 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  --dark: #0C0014;
  --med-dark: #290025;
  --med: #3A015C;
  --med-light: #4F0147;
  --light: #FFD6FB;
  --dark-extra: #000429;
  --med-extra: #406E8E;
  --light-extra: #D4EDE8;
}

.App::-webkit-scrollbar {
  display: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@font-face {
  font-family: 'Casanova';
  src: url('../public/fonts/CasanovaScotia-Xm0K.ttf');
}

@font-face {
  font-family: 'Gamilia';
  src: url('../public/fonts/GamiliaDemoRegular-d9DL7.ttf');
}

@font-face {
  font-family: 'Syne';
  src: url('../public/fonts/Syne-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-family: 'White Storm';
  src: url('../public/fonts/White\ Storm.otf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-VariableFont_wght.ttf');
}

.BackgroundDark {
  background-color: var(--dark);
}

.BackgroundMedDark {
  background-color: var(--med-dark);
}

.BackgroundMed {
  background-color: var(--med);
}

.BackgroundMedLight {
  background-color: var(--med-light);
}

.BackgroundLight {
  background-color: var(--light);
}

.BackgroundDarkExtra {
  background-color: var(--dark-extra);
}

.BackgroundMedExtra {
  background-color: var(--med-extra);
}

.BackgroundLightExtra {
  background-color: var(--light-extra);
}

.ForegroundDark {
  color: var(--dark);
}

.ForegroundMedDark {
  color: var(--med-dark);
}

.ForegroundMed {
  color: var(--med);
}

.ForegroundMedLight {
  color: var(--med-light);
}

.ForegroundLight {
  color: var(--light);
}

.ForegroundDarkExtra {
  color: var(--dark-extra);
}

.ForegroundMedExtra {
  color: var(--med-extra);
}

.ForegroundLightExtra {
  color: var(--light-extra);
}

.HoverDark:hover {
  background-color: var(--dark);
}

.HoverMedDark:hover {
  background-color: var(--med-dark);
}

.HoverMed:hover {
  background-color: var(--med);
}

.HoverMedLight:hover {
  background-color: var(--med-light);
}

.HoverLight:hover {
  background-color: var(--light);
}

.HoverDarkExtra:hover {
  background-color: var(--dark-extra);
}

.HoverMedExtra:hover {
  background-color: var(--med-extra);
}

.HoverLightExtra:hover {
  background-color: var(--light-extra);
}